{% extends "layout.html" %}
{% block title %} Aviso {% endblock %}
{% block body %}

{{creditosAvencer}}

<div class="table-responsive-sm pt-5">
    <table class="table table-primary">
        <thead>
            <tr>
                <th scope="col">IDVENCIM</th>
                <th scope="col">CLIEN</th>
                <th scope="col">APELLIDO, NOMBRE</th>
                <th scope="col">CELULAR</th>
                <th scope="col">LOCALIDAD</th>
                <th scope="col">CUOTAS IMPAGAS</th>
                <th scope="col">DEUDA VENCIDA</th>
                <th scope="col">VTO</th>
            </tr>
        </thead>
        <tbody>
            {% for credito in creditosAvencer %}
            {% if credito.APENOM != None %}
            <tr class="">
                <td scope="row">{{credito.IDVENCIM}}</td>
                <td>{{credito.CLIEN}}</td>
                <td>{{credito.APENOM}}</td>
                <td>{{credito.TELEFONO_CELULAR}}</td>
                <td>{{credito.LOCALIDAD}}</td>
                <td>{{credito.CUOTAS_IMPAGAS}}</td>
                <td>$ {{credito.DEUDA_VENCIDA}}</td>
                <td>{{credito.VTO.strftime('%d/%m/%Y')}}</td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

{{mensaje}}

{% endblock %}