{% extends 'layout.html' %}
{% block title %} Chat {% endblock %}

{% block body %}

<div style="display: flex; justify-content: space-evenly; padding-top: 30px;">
    <div id="datos_div">
        <!-- Aquí se mostrarán los datos -->
    </div>

    <div id="seleccionados_div">
        <div id="formulario">
            <form id="miFormulario" method="POST" action="/procesar_formulario"
                style="display: flex; flex-direction: column; width: 500px;">
                <input class="form-control" type="text" name="n_telefono" id="n_telefono" disabled>
                <input type="hidden" name="id_m" id="id_m" disabled>
                <textarea style="resize: none;" class="my-3 form-control" name="body" id="body" cols="30" rows="10"
                    disabled></textarea>
                <textarea class="form-control mb-3" style="resize: none;" placeholder="Respuesta" name="respuesta"
                    id="respuesta" cols="30" rows="7"></textarea>
                <input type="submit" value="Responder" class="btn btn-outline-success">
            </form>
        </div>
    </div>
</div>

<script>
    function actualizarDatos() {
        $.ajax({
            url: '/obtener_datos',
            type: 'GET',
            success: function (data) {
                $('#datos_div').html('');
                // Iterar sobre la lista de diccionarios
                data.forEach(function (item, index) {
                    // Crear elementos seleccionables con un atributo "data-clave1" para almacenar el valor
                    var elemento = $('<div style="margin-bottom: 15px; cursor: pointer" class="seleccionable" data-nt="' + item.N_TEL + '" data-idm="' + item.ID + '" data-body="' + item.BODY + '">' + item.N_TEL + ' - ' + item.AYN + '</div>');
                    $('#datos_div').append(elemento);
                });
            }
        });
    }

    // Manejar clic en elementos seleccionables
    $('#datos_div').on('click', '.seleccionable', function () {
        var valor = $(this).data('nt');
        var valor_id = $(this).data('idm');
        var body = $(this).data('body');

        // Establecer el valor en el input oculto
        $('#n_telefono').val(valor);
        $('#id_m').val(valor_id);
        $('#body').val(body);

        $.ajax({
            url: '/marcar_leido',
            type: 'POST',
            data: {
                id_ms: valor_id
            },
            success: function (response) {
                if (response === true) {
                    actualizarDatos()
                }
            }
        });
    });

    // Actualizar los datos al cargar la página
    actualizarDatos();

    // Actualizar los datos cada minuto 60000
    setInterval(actualizarDatos, 60000);

    // Manejar el envío del formulario
    $('#miFormulario').submit(function (event) {
        event.preventDefault();
        // Realizar una solicitud AJAX para enviar los datos del formulario a un método de Flask
        $.ajax({
            url: '/procesar_formulario',
            type: 'POST',
            data: {
                respuesta: $('#respuesta').val(),
                n_telefono: $('#n_telefono').val(),
                id_ms: $('#id_m').val(),
            },
            success: function (response) {
            }
        });
    });
</script>

{% endblock %}