{% extends './layout.html' %}
{% block title %} San Francisco Hogar {% endblock %}

{% block body %}

<div class="container pt-5">
    <div class="row">
        <!-- <div class="col-sm-3"></div> -->
        <div class="col-sm d-flex justify-content-center pt-5">
            <div class="mx-auto">
                <img src="{{ url_for('bp.static', filename='img/logo-oficial-2021-700x214.png') }}" alt="logo San Francisco Hogar">
            </div>
        </div>
        <!-- <div class="col-sm-3"></div> -->
    </div>
</div>

<!-- <div class="wrapper">
    <button type="button" id="sidebarCollapse">
        &#9776;
    </button>
    <div id="sidebar">
        <div>
            <form id="miFormulario" method="post" class="d-flex justify-content-around align-items-center">
                <div>
                    <input class="form-control" type="text" name="dni" id="search" placeholder="Dí algo" required>
                </div>
                <button class="btn btn-success" type="submit">Buscar</button>
            </form>
        </div>
        <div id="search-results">
        </div>
    </div>
</div> -->

{% endblock %}