{% extends './layout.html' %}
{% block title %} {{data.titulo}} {% endblock %}
{% block body %}
<h1>Página de inicio</h1>

<div class="container">
    <div class="row">
      <div class="col-sm-3">
        
      </div>
      <div class="col-sm">
        <div class="mx-auto">
            <img src="./static/img/logo-oficial-2021-700x214.png" class="img-fluid" alt="logo San Francisco Hogar">
        </div>
      </div>
      <div class="col-sm-3">
        
      </div>
    </div>
</div>
    
{% endblock %}