{% extends 'layout.html' %}
{% block titulo %}
Nuevo crédito
{% endblock %}

{% block body %}

<div class="row align-items-md-stretch">
    <div class="col-md-12">
        <div
            class="h-100 p-5 text-white bg-primary border rounded-3">
            <h2>Nuevo crédito</h2>
            <h3>{{ session['cliente']['CLIEN'] }}: {{session['cliente']['APELLIDO']}}, {{ session['cliente']['NOMBRE'] }}</h3>
            <p>Ingrese los artículos para la nueva solicitud de crédito</p>
        </div>
    </div>
    
</div>


<div class="container">
    <form action="{{ url_for('nuevoproducto') }}" method="POST">
        <div class="justify-content-center row my-2">
            <div class="col-md-4">
                <label for="" class="form-label">Código</label>
                <input type="text" name="codart" id="codart" class="form-control" placeholder="Ingrese el código del artículo" aria-describedby="helpId" required>
                <small id="helpId" class="text-muted">Código del artículo a incluir en el crédito</small>
            </div>
            <div class="col-md-4">
                <label for="" class="form-label">Cantidad</label>
                <input type="number" name="cantidad" id="cantidad" class="form-control" placeholder="Ingrese la cantidad" aria-describedby="helpId" value="1" required>
                <small id="helpId" class="text-muted">Cantidad del artículo a incluir en el crédito</small>
            </div>
            <div class="col-md-2 row my-4">
                <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </form>    
    
</div>        
<hr>
    <div class="table-responsive-sm">
        <table class="table table-primary">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Unitario</th>
                    <th scope="col">Total</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr class="">
                        <td scope="row">{{item.codigo}}</td>
                        <td>{{item.detalle}}</td>
                        <td>{{item.cantidad}}</td>
                        <td>{{item.unitario}}</td>
                        <td>{{item.total}}</td>
                        <td><a class="btn btn-danger" href="{{ url_for('eliminar', i = item.codigo) }}">Eliminar</a></td>
                    </tr>
                {% endfor %}    
            </tbody>
        </table>
    </div>

    <div class="mb-3 row">
        <div class="offset-sm-1 col-sm-2 my-2">
            <a class="btn btn-success" href="{{ url_for('nuevocred') }}" role="button">Datos adicionales</a>
        </div>
    </div>

{% endblock %}    