<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="icon" href="{{ url_for('bp.static', filename='img/logo_solo-oficial-2021_32x32.jpg') }}" type="image/x-icon">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css" />
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script defer type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.11.5/datatables.min.js"></script>
    <script defer src="{{ url_for('bp.static', filename='js/layout.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('bp.static', filename='css/layout.css') }}">    
    {% block algun_script %} {% endblock %} 
</head>

<body>
  {% if request.path != '/login' %}
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">SFH Créditos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Cliente</a>
            <ul class="dropdown-menu dropdown-menu-sm-start">
              <li><a class="dropdown-item" href="{{ url_for('bp.cliente') }}">Gestión de clientes</a></li>
              <!-- <li><a class="dropdown-item" href="{{ url_for('bp.dias_3') }}">Aviso 3 días antes</a></li> -->
              <!-- <li><a class="dropdown-item" href="{{ url_for('bp.select_atraso', op = 1) }}">Avisos atrasados hasta 9 días</a></li> -->
              <li><a class="dropdown-item" href="{{ url_for('bp.select_atraso', op = 2) }}">Avisos atrasados desde 11 días</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Créditos</a>
            <ul class="dropdown-menu dropdown-menu-sm-start">
              <li><a class="dropdown-item" href="/solicitudes">Solicitudes nuevas</a></li>
              <li><a class="dropdown-item" href="/pendientes">Solicitudes pendientes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/user">Modificar Usuarios</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">Perfiles</a>
            <ul class="dropdown-menu dropdown-menu-sm-start">
              <li><a class="dropdown-item" href="{{ url_for('bp.nuevo_perfil', op = 1) }}">Perfiles</a></li>
              <li><a class="dropdown-item" href="{{ url_for('bp.nuevo_perfil', op = 2) }}">Gestión de perfiles</a></li>
              <li><a class="dropdown-item" href="{{ url_for('bp.nuevo_perfil', op = 3) }}">Menús</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  {% endif %}
    
<div class="container">
  {% with messages = get_flashed_messages(with_categories = 'true') %}
    {% if messages %}
      {% for category, msg in messages %}
        {% if category == "error" %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% else %}
          <div class="alert alert-primary alert-dismissible fade show" role="alert">
            {{msg}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}  
      {% endfor %}
    {% endif %}
  {% endwith %}  
  
  {% block body %}
  {% endblock %}
</div>

   <!-- JavaScript Bundle with Popper -->
   <!--
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
     -->
    <!-- 
    <script src="{{ url_for('static', filename='js/layout.js') }}"></script>
     -->
</body>
</html>