{% extends './layout.html' %}
{% block title %} Excel {% endblock %}
{% block body %}

<div class="container border back mt-5">
    <form action="/filtrar_reg" method="POST">
        <div class="justify-content-start row my-2">
            <div class="d-flex align-items-center justify-content-evenly">
                <div class="d-flex align-items-center col-3">
                    <label class="col-3" for="dias_desde">Fecha desde</label>
                    <input class="form-control" type="date" name="date_desde" id="date_desde">
                </div>
                <div class="d-flex align-items-center mx-5 col-3">
                    <label class="col-3" for="dias_hasta">Fecha hasta</label>
                    <input class="form-control" type="date" name="date_hasta" id="date_hasta" required>
                </div>
                <div class="dropdown d-flex justify-content-center" aria-multiselectable="true">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Categorias
                    </button>
                    <div class="dropdown-content mt-4">
                        {% for cate in categorias %}
                        <label class="d-flex align-items-center">
                            <input type="checkbox" name="cate_checkbox" value="{{cate.CATEGO}}">{{cate.NOMBRE}}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-1 d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="pt-5">
    <form method="POST" action="/procesar_exc">
        <table class="table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Apellido y Nombre</th>
                    <th>Localidad</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in listaD %}
                <input type="hidden" name="listaD[]" value='{{ dato | tojson }}'>
                <tr>
                    <td>{{dato.CLIEN}}</td>
                    <td>{{dato.APELLIDO}}, {{dato.NOMBRE}}</td>
                    <td>{{dato.LOCALIDAD}}</td>
                    <td>{{dato.CATEGORIA}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if bandera != False %}
        <div class="py-5">
            <input type="submit" value="Generar Informe Credixsa" name="submitButton">
            <input class="mx-5" type="submit" value="Generar Informe Veraz" name="submitButton">
            <input type="submit" value="Generar Informe Codesa" name="submitButton">
        </div>
        {% endif %}
    </form>
</div>


{% endblock %}