{% extends 'layout.html' %}
{% block titulo %}
Solicitudes de Crédito
{% endblock %}

{% block body %}

<div class="pt-4 pb-5">
    <table id="tab2" class="table table-light table-striped">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Vendedor</th>
                <th>Sucursal</th>
                <th>Total de Crédito</th>
                <th>Fecha</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{solicitud.idcliente}}</td>
                    <td>{{solicitud.idvendedor}}</td>
                    <td>{{solicitud.sucursal}}</td>
                    <td>$ {{solicitud.total}}</td>
                    <td>{{solicitud.FECHA}}</td>
                    <td>
                        <a href="{{ url_for('datos', id = solicitud.idcliente) }}" class="btn btn-success">Detalles</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}