{% extends 'layout.html' %}
{% block title %} Solicitudes de Crédito {% endblock %}

{% block algun_script %}
    <script>
        function autoRefresh() {
            window.location = window.location.href;
        }
        setInterval('autoRefresh()', 10000);
    </script>
{% endblock %}    

{% block body %}

<div class="pt-4 pb-5">
    <table id="tab2" class="table table-light table-striped">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Vendedor</th>
                <th>Sucursal</th>
                <th>Total de Crédito</th>
                <th>Fecha</th>
                <th>Autoriza</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for solicitud in solicitudes %}
                <tr>
                    <td>{{solicitud.IDCLIENTE}} - {{solicitud.NOMCLI}}</td>
                    <td>{{solicitud.IDVENDEDOR}}</td>
                    <td>{{solicitud.IDSUCURSAL}} - {{solicitud.SUCURSAL}}</td>
                    <td>$ {{solicitud.TOTAL}}</td>
                    <td>{{solicitud.FECHA}}</td>
                    {% if solicitud.AUTORIZA == None %}
                        <td> </td>
                    {% else %}
                        <td>{{solicitud.AUTORIZA}}</td>
                    {% endif %}    
                    <td>
                        <a href="{{ url_for('bp.datosCredito', id = solicitud.ID, estado = solicitud.ESTADO) }}" class="btn btn-success">Detalles</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}